.square {
  background: #fff;
  overflow-wrap: break-word;
  border: 1px solid #999;
  font-size: 12px;
  font-weight: bold;
  /* line-height: 34px; */
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  max-width: 50px;
  width: 50px;
  vertical-align: inherit;
}
.toolow {
  background: #c00;
  border: 1px solid #999;
}
.toohigh {
  background: #0cc;
  border: 1px solid #999;
}
.correct {
  background: #0c0;
  border: 1px solid #999;
}
/* .label {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  float: right
} */
.board-row {
  display: table;
  margin: auto;
  width: flex;
  height: 50px;
  /* border: 3px solid green; */
  padding: 10px;
  vertical-align: top;
}
.control {
  display: table;
  margin: auto;
  /* width: 100%; */
  padding: 10px;
}
.subtitle {
  display: table;
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}
.key {
  display: table;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.key-elem {
  margin: auto;
  padding-right: 5px;
  padding-bottom: 20px;
  text-align: left;
  line-height: 0;
  vertical-align: center;
}

.start-over {
  margin: auto;
  /* width: 100%; */
  /* padding: 10px; */
}
.game-over-msg {
  padding: 10px;
}

.hide {
  display: none;
}
.no-glow {
  outline: none;
}
.glow {
  background-color: #fff;
  transition: box-shadow 0s ease-in-out;
  box-shadow: 0px 0px 2px 3px #f00;
}
/*Temporary solution to hiding  errorview in development.*/

iframe {
  display: none;
}

* {
  outline: none;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

.horizontal-slider .example-thumb {
  top: -1px;
  width: 10px;
  height: 50px;
  line-height: 50px;
  border: 1px solid grey;
}